{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>This is my profile</h1>
            <h3>Welcome, {{name}}</h3>
        </div>
    </div>
</div>